* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 400px;
  margin-bottom: 75px;
  background: rgb(44, 47, 55);
  color: rgb(194, 194, 194);
}

h1 {
  color: #f0f0f0;
  text-align: center;
  padding: 20px 20px 10px 20px;
}

h3 {
  color: #ffce1f;
  padding: 10px 20px;
}

p {
  padding: 0px 30px;
}

.get {
  background: rgb(89, 27, 27);
}

.get:hover {
  background: rgb(161, 48, 48);
}

.randomize {
  background: rgb(22, 69, 23);
}

.randomize:hover {
  background: rgb(28, 107, 29);
}

.search {
  width: 155px;
  margin: 10px 0 0 30px;
  background: rgb(30, 33, 38);
}

.search:hover {
  background: rgb(50, 55, 73);
}

.move {
  width: 155px;
  margin: 10px 0 0 30px;
  background: rgb(30, 33, 38);
}

.move:hover {
  background: rgb(50, 55, 75);
}

button {
  position: absolute;
  left: 150px;
  width: 100px;
  bottom: 20px;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
  outline: 0;
  color: rgb(194, 194, 194);
}

button:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:active {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.info {
  background: rgb(46, 47, 54);
  top: 5px;
  right: 5px;
  position: absolute;
  height: 25px;
  width: 25px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.info:hover {
  left: 5px;
  padding: 10px;
  border: 1px solid rgb(149, 160, 161);
  cursor: help;
  width: auto;
  height: auto;
  transition: 0.3s ease-in-out;
}

.info-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 17px;
    color: #fff;
    background: #212121;
    border-radius: 50%;
}

.info h3 {
  margin-top: 25px;
}

.info li {
  padding: 10px 20px;
}
